# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
out/
dist/
build/
.turbo/

# env files
.env
.env.local
.env.*.local

# editor / OS
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# debug logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/
playwright-report/
test-results/

# misc
*.tsbuildinfo
next-env.d.ts
